@(recipes : List[Recipe])

@main("Recipes") {
    <div id="navigation">
        <p>Welcome to recipe app!</p>
        <p><a href="/recipes/create">create a new recipe</a></p>
    </div>
    <h2>Recipes</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Category</th>
            <th>Calories</th>
            <th>Rating</th>
            <th>Actions</th>
        </tr>
        @for(recipe <- recipes) {
            <tr>
                <td>@recipe.id</td>
                <td>@recipe.name</td>
                <td>@recipe.category</td>
                <td>@recipe.calories</td>
                <td>@recipe.rating</td>
                <td><a href="/recipes/edit/@recipe.id">edit</a> | <a href="/recipes/delete/@recipe.id">delete</a></td>
            </tr>
        }
    </table>
}